---
import Layout from "@/layouts/Layout.astro";
import { items } from "@/lib/data";

const { id } = Astro.params;

const item = items.find((item) => item.id.toString() === id);
---

<Layout title={`Cap Store - Item ${id}`}>
  <section class="text-gray-400 body-font overflow-hidden">
    <div
      class="container px-5 py-16 mx-auto bg-gray-800 rounded-lg"
      transition:name=`item ${item?.id} card`
    >
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src={item?.imageUrl}
          transition:name=`item ${item?.id} image`
        />
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">
            BRAND NAME
          </h2>
          <h1
            class="text-white text-3xl title-font font-medium mb-1"
            transition:name=`item ${id} name`
          >
            {item?.name}
          </h1>
          <p class="leading-relaxed" transition:name=`item ${id} description`>
            {item?.description}
          </p>
          <div class="flex border-t-2 border-gray-700 mt-5">
            <span class="title-font font-medium text-2xl text-white mt-4">
              ${item?.price}
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
